/* Admissions.css */
.admissions {
    margin-top: 50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 110px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .admissions h2 {
    text-align: center;
    color: #333;
  }
  
  .admissions form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  
  .admissions form label {
    margin-bottom: 10px;
    color: #333;
  }
  
  .admissions form input,
  .admissions form select,
  .admissions form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .admissions form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .admissions form button:hover {
    background-color: #555;
  }
  