/* Global Styles */

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;

}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: rgb(209, 157, 13);
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

/* Grid Layout */

.grid-container {
  display: grid;
  grid-template-columns: min-content 1fr 1fr 1fr; /* Adjusted sidebar width */
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header */

.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* Sidebar */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 180px; /* Increased sidebar width */
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0; /* Adjusted padding */
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(57, 55, 132, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* Main Container */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(230, 170, 16, 0.95);
  margin-left: 180px; /* Adjusted margin */
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 15px 0;
}

.card {
  height: 180px;
  display: flex;
  background-color: rgba(15, 100, 246, 0.2);
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }

  .main-container {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
